.logo {
    width: 64px;
    border: 1px solid black;
    padding: 10px 15px;
    img {
        width: 64px;
        height: 64px;
    }
}
.formulario {
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputContainer {
    input {
        background-color: white;
    }
    label {
        color: black;
    }
}

.botao {
    color: black;
    border: 2px solid black;
    font-weight: bold;
    padding: 1rem;
    background-color: white;
    margin-top: 1rem;
}